{
  "redis": {
    "host": "127.0.0.1",
    "port": 6379,
    "channel": "mailing" 
  },

  "mailer": {
    "type": "SMTP",
    "options": {
      "service": "Gmail",
      "auth": {
        "user": "",
        "pass": ""
      }
    }
  }
}
